<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>signup</title>
    <link rel="stylesheet" href="{% static '/css/signup.css' %}">
</head>
<body>

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <h3>Sign Up</h3>
    <label>Username</label>
    <input type="text" id="username" name="username" placeholder="Create a username (only letters and number)" REQUIRED >
    <br>
    <label>First Name</label>
    <input type="text" id="f_name" name="f_name" placeholder="Enter your First Name" REQUIRED >
    <br>
    <label>Last Name</label>
    <input type="text" id="l_name" name="l_name" placeholder="Enter your Last Name" REQUIRED >
    <br>
    <label>Email</label>
    <input type="email" id="email" name="email" placeholder="Enter your Email" REQUIRED >
    <br>
    <label>Password</label>
    <input type="password" id="pass1" name="pass1" placeholder="Enter your Password" REQUIRED >
    <br>
    <label>Confirm Password</label>
    <input type="password" id="pass2" name="pass2" placeholder="Confirm your Password" REQUIRED >
    <br>
    <button type="submit">Sign Up</button>
</form>
</body>
</html>